.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #3c3f41; /* If you want dots under the hoverable text */
}

.tooltip .tooltip-text {
    visibility: hidden;
    background-color: #3c3f41;
    text-align: center;
    padding: 5px;
    border-radius: 6px;

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltip-text {
    visibility: visible;
}

.tooltip-arrow-left .tooltip-text {
    top: -5px;
    left: 105%;
}

.tooltip-arrow-right .tooltip-text {
    top: -5px;
    right: 105%;
}

.tooltip-arrow-left .tooltip-text::after {
    content: " ";
    position: absolute;
    top: 50%;
    right: 100%; /* To the left of the tooltip */
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #3c3f41 transparent transparent;
}